replicaCount: 1

image:
  repository: <your-docker-image>   
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80
  targetPort: 8080

ingress:
  enabled: false
  className: ""
  hosts:
    - host: myapp.example.com
      paths:
        - path: /
          pathType: Prefix

resources: {}
